* {
  margin: 0;
}

.heading {
  background-color: #80a0ff;
  top: 0;
  height: 100px;

  margin-top: 0px;
  margin-left: 0px;
}

.heading h1 {
  text-transform: uppercase;
  text-align: center;
  padding: 20px;
}

.sideBar {
  background-color: #a0c0ff;
  width: 200px;
  height: 100%;
  position: fixed;
}

.sideBar h3 {
  text-transform: uppercase;
  text-align: center;
  margin-top: 20px;
}

.sideBarButtonWrapper {
  margin-left: 10px;
  margin-top: 20px;
  margin-right: 10px;
  text-align: center;
}

.sideBarButtonWrapper .sideBarLink {
  line-height: 30px;
}

.mainPage {
  margin-left: 200px;
  padding: 10px;
}

.mainPage .issueSummaryTable table {
  border: 1px solid black;
  border-collapse: collapse;
}

.mainPage .issueSummaryTable th {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 5px;
  text-align: left;
}

.mainPage .issueSummaryTable td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 5px;
}

.mainPage .issueView .labels {
  color: blue;
  /* inline-block makes the div only take as much horizontal space as the text inside needs it to */
  display: inline-block;
  float: left;
  margin-right: 20px;
}

.mainPage .issueView .texts {
  color: red;
  /* overflow ensures the div doesn't intrude on the horizontal space the .labels div is taking up */
  overflow: auto;
}
