<h3>Side Bar</h3>
<div class="sideBarButtonWrapper">
  {{#link-to "index" class="sideBarLink"}}Home{{/link-to}}<br/>
  {{#link-to "issue-summary" class="sideBarLink"}}Summary{{/link-to}}<br/>
  {{#link-to "about" class="sideBarLink"}}About{{/link-to}}<br/>
</div>