<h3 data-test={{hook "sb-title"}}>Side Bar</h3>
<div class="sideBarButtonWrapper">
  {{#link-to "index" class="sideBarLink" hook="sb-home"}}Home{{/link-to}}<br/>
  {{#link-to "issue-summary" class="sideBarLink" hook="sb-summary"}}Summary{{/link-to}}<br/>
  {{#link-to "about" class="sideBarLink" hook="sb-about"}}About{{/link-to}}<br/>
</div>